@layer components {
  .component-page-footer {

    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    .bg {
      background-color: #ffffff;
      /* White */
      color: #555555;
    }

  }
}