@layer components {
    .component-popup {
  
      /* Layout Properties */
      .popup-layout {
        // Setup popup position
        position: fixed;
        bottom: 5%;
        right: 5%;
  
        width: 300px;
        font-size: 12px;
  
        // Higher index to avoid overlapping with other components
        z-index: 100000;
  
        @media (min-width: 1900px) {
          font-size: 13px;
        }
      }
  
      /* UI Properties */
      .popup-ui {
        border-radius: 3%;
        box-shadow: #161a2b 0% 0% no-repeat padding-box;
        background: #161a2b;
        padding: 5%;
      }
      
    }
  }
  