@layer components {
  .component-page-header {

    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    .bg-1 {
      background-color: #1abc9c;
      /* Green */
      color: #ffffff;
    }

  }
}